* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #eee;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#example {
  width: 675px;
  margin: 0 auto;
}

.react-published-images-list {

}

.opendoc-image {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.opendoc-image.loaded {
  opacity: 1;
  visibility: visible;
}

.opendoc-image img {
  width: 100%;
}

.opendoc-image:hover button.tip {
  opacity: 1;
}

.opendoc-image button.tip {
  transition: opacity 100ms ease-in-out;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
}

button.tip img {
  width: 25px;
  height: 23px;
  margin: 2px;
}